name: Mkdoc build

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Deploy docs
      uses: mhausenblas/mkdocs-deploy-gh-pages@master
      # Or use mhausenblas/mkdocs-deploy-gh-pages@nomaterial to build without the mkdocs-material theme
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        #CUSTOM_DOMAIN: optionaldomain.com
        #CONFIG_FILE: mkdocs.yml
        #EXTRA_PACKAGES: build-base
        # GITHUB_DOMAIN: github.myenterprise.com
        REQUIREMENTS: requirements.txt
    # share between different jobs
    - uses: actions/upload-artifact@v3
      with:
        name: site
        path: site/
